/* Header e Navbar*/
.logo{
    height: 75px;
    width:75px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-link{
    color:#094A6A;
}
/*==============*/
/* Ajuste Página */
html,body{
    height:100% !important;
    margin:0px !important;
}
/*==============*/
/* Login */
#login,#login_interno,#login_externo{
    transform:translate(0%,-35%);
}

.btn-outline-ocean{
    color:#014B6A;
    border-color: #014B6A;
}

.btn-outline-ocean:hover{
    background-color: #014B6A;
    color:lightgray !important;
}

.btn-ocean{
    color:#d3d3d3 !important;
    background-color: #014B6A;
}

.btn-ocean:hover{
    background-color: #016691;
    color:lightgray !important;
}