<div id="formularioCadastro">
  <h2>Cadastrar Participante</h2>
  <form class="w-75">
    <div class="mb-3">
      <label for="nome_externo" class="form-label">Nome Participante</label>
      <input type="text" class="form-control" id="nome_externo">
    </div>
    <div class="mb-3">
      <label for="email_externo" class="form-label">E-mail</label>
      <input type="text" class="form-control" id="email_externo">
    </div>
    <div class="mb-3">
      <label for="documento_identidade" class="form-label">CPF/RG</label>
      <input type="text" class="form-control" id="documento_identidade">
    </div>
    <button type="submit" class="btn btn-primary">Salvar Evento</button>
  </form>
</div>