<div class="row gap-2 justify-content-evenly">
    <div class="uk-card uk-card-hover uk-card-body btn rounded btn-outline-ocean uk-width-1-4@m" id="participante_interno">
        <span uk-icon="icon: user; ratio: 2.5"></span>
        <h5 class="uk-card-title">Participante Interno</h5>
    </div>
    <div class="uk-card uk-card-hover uk-card-body btn rounded btn-outline-ocean uk-width-1-4@m" id="participante_externo">
        <span uk-icon="icon: user; ratio: 2.5"></span>
        <h5 class="uk-card-title">Participante Externo</h5>
    </div>
</div>
<script src="assets/js/btns_cadastro.js"></script>