<div id="formularioCadastro">
    <h2>Cadastrar Evento</h2>
    <form class="w-75">
      <div class="mb-3">
        <label for="tituloEvento" class="form-label">Título do Evento</label>
        <input type="text" class="form-control" id="tituloEvento" placeholder="Digite o título do evento">
      </div>
      <div class="mb-3">
        <label for="descricaoEvento" class="form-label">Descrição</label>
        <textarea class="form-control" id="descricaoEvento" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="descricaoEvento" class="form-label">Categoria</label>
        <select class="form-control" id="categoria">
              <option class="dropdown-item" href="#">Cursos</option>
              <option class="dropdown-item" href="#">Palestras</option>
              <option class="dropdown-item" href="#">Convenções</option>
              <option class="dropdown-item" href="#">Festas</option>
              <option class="dropdown-item" href="#">Formaturas</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="dataEvento" class="form-label">Data do Evento</label>
        <input type="date" class="form-control" id="dataEvento">
      </div>
      <button type="submit" class="btn btn-primary">Salvar Evento</button>
    </form>
  </div>