<h2 class="mb-4">Dashboard Alunos</h2>
<div class="d-flex w-100 gap-4">

    <!--Contagem de Registros de Eventos-->
    <div class="card bg-light mb-3" style="max-width: 12rem;">
      <div class="card-header">Quantidade Alunos</div>
      <div class="card-body">
        <h5 class="card-title">3</h5>
      </div>
    </div>
    
    <!--Contagem de Registros de Cursos-->
    <div class="card bg-light mb-3" style="max-width: 12rem;">
      <div class="card-header">Quantidade Cursos</div>
      <div class="card-body">
        <h5 class="card-title">2</h5>
      </div>
    </div>
    
    <!--Status Ativo-->
    <div class="card bg-light mb-3" style="max-width: 12rem;">
      <div class="card-header px-auto">Eventos Ativos</div>
      <div class="card-body">
        <h5 class="card-title">2</h5>
      </div>
    </div>
    
    <!--Status Inativo-->
    <div class="card bg-light mb-3" style="max-width: 12rem;">
      <div class="card-header px-auto">Eventos Inativos</div>
      <div class="card-body">
        <h5 class="card-title">1</h5>
      </div>
    </div>

  </div>

  <table>
    <tr class="border border-dark">
        <th class="border border-dark p-2">ID</th>
        <th class="border border-dark p-2">Nome</th>
        <th class="border border-dark p-2">E-mail</th>
        <th class="border border-dark p-2">Ativo</th>
        <th class="border border-dark p-2">Inicio P. Inscrição</th>
        <th class="border border-dark p-2">Fim P. Inscrição</th>
        <th class="border border-dark p-2">Tipo</th>
        <th class="border border-dark p-2">C. Horaria</th>
        <th class="border border-dark p-2">Resp.</th>
        <th class="border border-dark p-2">Dpt.</th>
    </tr>
    <tr class="border border-dark p-2">
        <td class="border border-dark p-2">0</td>
        <td class="border border-dark p-2">Rovilson</td>
        <td class="border border-dark p-2">vlancha@gmail.com</td>
        <td class="border border-dark p-2">03-02-2025</td>
        <td class="border border-dark p-2">16-01-2025</td>
        <td class="border border-dark p-2">31-01-2025</td>
        <td class="border border-dark p-2">Curso</td>
        <td class="border border-dark p-2">10</td>
        <td class="border border-dark p-2">Dr. Rovilson</td>
        <td class="border border-dark p-2">Sei lá</td>
    </tr>
    <tr class="border border-dark p-2">
        <td class="border border-dark p-2">1</td>
        <td class="border border-dark p-2">Jonas Kunzler</td>
        <td class="border border-dark p-2">deutchsland@gmail.com</td>
        <td class="border border-dark p-2">06-02-2025</td>
        <td class="border border-dark p-2">13-01-2025</td>
        <td class="border border-dark p-2">02-02-2025</td>
        <td class="border border-dark p-2">Curso</td>
        <td class="border border-dark p-2">12</td>
        <td class="border border-dark p-2">Dr. Jonas Kunzler</td>
        <td class="border border-dark p-2">Sei lá</td>
    </tr>
    <tr class="border border-dark p-2">
        <td class="border border-dark p-2">2</td>
        <td class="border border-dark p-2">Junqueira Roberto Fernandes</td>
        <td class="border border-dark p-2">placeholder@gmail.com</td>
        <td class="border border-dark p-2">06-02-2025</td>
        <td class="border border-dark p-2">13-01-2025</td>
        <td class="border border-dark p-2">02-02-2025</td>
        <td class="border border-dark p-2">Curso</td>
        <td class="border border-dark p-2">4</td>
        <td class="border border-dark p-2">Alexandre Calaça</td>
        <td class="border border-dark p-2">Sei lá</td>
    </tr>
  </table>