<div id="formularioCadastro">
    <h2>Cadastrar Participante</h2>
    <form class="w-75">
      <div class="mb-3">
        <label for="nome_interno" class="form-label">Nome Participante</label>
        <input type="text" class="form-control" id="nome_interno">
      </div>
      <div class="mb-3">
        <label for="email_interno" class="form-label">E-mail Institucional</label>
        <input type="text" class="form-control" id="email_interno">
      </div>
      <div class="mb-3">
        <label for="matricula" class="form-label">Matricula</label>
        <input type="text" class="form-control" id="matricula">
      </div>
      <div class="mb-3">
        <label for="descricaoEvento" class="form-label">Curso</label>
        <select class="form-control" id="categoria">
              <option class="dropdown-item">--- Selecione um Curso ---</option>
              <option class="dropdown-item" href="#">Palestras</option>
              <option class="dropdown-item" href="#">Convenções</option>
              <option class="dropdown-item" href="#">Festas</option>
              <option class="dropdown-item" href="#">Formaturas</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Salvar Evento</button>
    </form>
  </div>